<div class="jumbotron jumbotron-fluid">
  <div class="container text-white">
    <div class="d-flex flex-wrap">
      <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-1 aling-self-end">
          <img class="dspace-logo" src="https://image.flaticon.com/icons/svg/1832/1832056.svg" alt="" />
      </div>
      <div class="col aling-self-start pl-xl-4">
        <h2 class="pl-xl-4">Teslac</h2>
        <p class="pl-xl-4">con teslac permite la gestión de proyectos institucionales, fomentando el trabajo en equipo y colaborativo
        </p>
      </div>
    </div>
  </div>
</div>