<div class="row justify-content-center animated zoomIn" style="height: 100%">
    <div class="col col-sm-8 col-md-7 col-lg-4 px-5 align-self-center px-sm-0">
        <div class="card text-center">
            <div class="card-header gradient text-white">
                <img src="https://image.flaticon.com/icons/svg/1832/1832056.svg" width="80" height="80"
                    class="d-inline-block align-top" alt="">
            </div>
            <div class="card-body">
                <form action="javascript:;" [formGroup]="FormControl" (ngSubmit)="onSubmit()"
                    [ngClass]="{'was-validated': !FormControl.valid && Submited}">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <fa-icon [icon]="Icons[0]"></fa-icon>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Código Institucional" aria-label="Username"
                            aria-describedby="addon-wrapping" formControlName="Username" required minlength="10">
                        <div class="invalid-feedback">
                            Ingrese Código Institucional Válido
                        </div>
                    </div>
                    <div class="input-group pt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <fa-icon [icon]="Icons[1]"></fa-icon>
                            </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Contraseña" aria-label="Password"
                            aria-describedby="addon-wrapping" formControlName="Password" required>
                        <div class="invalid-feedback justify-content-start">
                            Contraseña Es Requerida
                        </div>
                    </div>
                    <div class="input-group pt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <fa-icon [icon]="Icons[3]"></fa-icon>
                            </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Email" aria-label="Email"
                            aria-describedby="addon-wrapping" formControlName="Email" required>
                        <div class="invalid-feedback justify-content-start">
                            Email Es Requerido
                        </div>
                    </div>
                    <div class="form-group pt-3 mb-0">
                        <button type="submit" class="btn btn-primary w-50 gradient" [disabled]="Loading">
                            <div [hidden]="Loading">
                                <fa-icon [icon]="Icons[2]"></fa-icon>
                            </div>
                            <div class="spinner-border text-light" role="status" [hidden]="!Loading">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                    <div class="form-group pt-1 mb-0">
                        <a routerLink="/Login" routerLinkActive="active">¿Tienes Cuenta?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>