<div class="row mx-0" style="height: 100%">
    <nav class="col-md-3 col-xl-2 d-none d-md-block gradient">
        <a class="row pt-3 justify.content-center mx-0" style="cursor: pointer;" [routerLink]="['/profile']"
            routerLinkActive="active">
            <div class="col-6 col-md-5 col-lg-4 col-xl-5 align-self-center pl-1">
                <img [src]="this.User.User.UrlImage" class="rounded-circle img-fluid float-left"
                    style="height: 80px; width: 80px;">
            </div>
            <div class="col pl-1 align-self-center">
                <div class="row">
                    <h6 class="text-center font-weight-bold text-white">
                        {{User.User.DisplayName}}
                    </h6>
                </div>
            </div>
        </a>
        <div class="row w-100 justify-content-between mx-0 pt-3">
            <button type="button" class="btn btn-link text-white" (click)="ChangeMain()">
                <fa-icon [icon]="Icons[0]" size="lg"></fa-icon>
            </button>
            <button type="button" class="btn btn-link text-white" (click)="LogOut()">
                <fa-icon [icon]="Icons[1]" size="lg"></fa-icon>
            </button>
        </div>
        <div class="row pt-3 justify-content-center">
            <div class="accordion w-100" id="accordionExample">
                <div class="card bg-transparent w-100">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn text-white w-100" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                id="collapse">
                                <h6 class="text-center font-weight-bold text-white float-left">
                                    Mensajes
                                </h6>
                                <span class="float-right text-white">
                                    <fa-icon [icon]="Icons[2]"></fa-icon>
                                </span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body px-0 pt-0 pb-0">
                            <ListConversations [Conversations]="Conversations" [isGroup]="false" [Change]="ChangeMain">
                            </ListConversations>
                        </div>
                    </div>
                </div>
                <div class="card bg-transparent">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <div class="row w-100 mx-0 justify-content-between">
                                <button class="btn text-white w-75" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                    id="collapse">
                                    <h6 class="text-center font-weight-bold text-white float-left">
                                        Grupos
                                    </h6>
                                    <span class="float-right text-white">
                                        <fa-icon [icon]="Icons[2]"></fa-icon>
                                    </span>
                                </button>
                                <button class="btn text-white w-25" type="button" data-toggle="modal"
                                    data-target="#Modal">
                                    <span class="float-right text-white">
                                        <fa-icon [icon]="Icons[3]"></fa-icon>
                                    </span>
                                </button>
                            </div>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body px-0 pt-0 pb-0">
                            Hola Mundo2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-xl-10 pt-3 px-4 h-100">
        <div *ngIf="Loading | async; else noLoad">
            <div *ngIf="Main | async; else elseTemplate">
                <ListUsers [Conversations]="Conversations" [Change]="ChangeMain"></ListUsers>
            </div>
            <ng-template #elseTemplate>
                <App-Chat [ChatBind]="Chat" [Change]="ChangeMain"></App-Chat>
            </ng-template>
        </div>
        <ng-template #noLoad>
            <div class="row pt-3 justify-content-center">
                <div class="spinner-border text-primary" role="status" [hidden]="!Loading">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
    </main>
</div>
<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Crear Grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="javascript:;" [formGroup]="FormControl" (ngSubmit)="onSubmit()"
                [ngClass]="{'was-validated': !FormControl.valid && Submited}">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group pt-3 w-100">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="pass">
                                    <fa-icon [icon]="Icons[4]"></fa-icon>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="Name" placeholder="Name" aria-describedby="name"
                                required minLength="4" maxLength="30" formControlName="Name" />
                            <div class="invalid-feedback">Nombre Invalido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group pt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <fa-icon [icon]="Icons[5]"></fa-icon>
                                </span>
                            </div>
                            <select class="form-control" formControlName="Members" required multiple>
                                <option *ngFor="let conversation of Conversations | async"
                                    [ngValue]="conversation.Members[0]._id">
                                    <img [src]="conversation.Members[0].UrlImage" class="rounded-circle float-left"
                                        alt="Cinque Terre" width="25" height="25" />
                                    {{conversation.Members[0].DisplayName}}
                                </option>
                            </select>
                            <div class="invalid-feedback justify-content-start">
                                Role Es Requerido
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>