<div class="row mx-0" style="height: 100%">
    <nav class="col-md-3 col-xl-2 d-block bg-transparent border-right" @sideContentAnimation id="nav"
        *ngIf="this.ShowMenu | async">
        <div class="row pt-3 justify.content-center mx-0 text-dark border-bottom side-list-content-data-inner">
            <div class="col align-self-center">
                <img [src]="this.User.UrlImage" class="rounded-circle float-left pb-1"
                    style="height: 60px; width: 60px;" onerror="this.src = '../../assets/Images/errorImage.svg'"
                    alt="Imagen">
            </div>
            <div class="col align-self-center pb-1">
                <a [routerLink]="[ '/teslac/profile' ]" routerLinkActive="active" class="rounded-circle float-right">
                    <fa-icon [icon]="Icons[6]" size="lg"></fa-icon>
                </a>
            </div>
        </div>
        <div class="row w-100 justify-content-between mx-0 py-1 border-bottom side-list-content-data-inner">
            <button type="button" class="btn btn-link text-dark" (click)="ChangeMain()">
                <fa-icon [icon]="Icons[0]" size="lg"></fa-icon>
            </button>
            <button type="button" class="btn btn-link text-dark" (click)="LogOut()">
                <fa-icon [icon]="Icons[1]" size="lg"></fa-icon>
            </button>
        </div>
        <div class="row pt-1 justify-content-center side-list-content-data-inner">
            <div class="accordion w-100" id="accordionExample">
                <div class="card bg-transparent w-100">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn text-dark w-100" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                id="collapse">
                                <h6 class="text-center font-weight-bold text-dark float-left">
                                    Mensajes
                                </h6>
                                <span class="float-right text-dark">
                                    <fa-icon [icon]="Icons[2]"></fa-icon>
                                </span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body px-0 pt-0 pb-0">
                            <ListConversations [Conversations]="Conversations" [isGroup]="false" [Change]="ChangeMain">
                            </ListConversations>
                        </div>
                    </div>
                </div>
                <div class="card bg-transparent">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <div class="row w-100 mx-0 justify-content-between">
                                <button class="btn text-dark w-75" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                    id="collapse">
                                    <h6 class="text-center font-weight-bold text-dark float-left">
                                        Grupos
                                    </h6>
                                    <span class="float-right text-dark">
                                        <fa-icon [icon]="Icons[2]"></fa-icon>
                                    </span>
                                </button>
                                <button class="btn text-dark w-25" type="button" data-toggle="modal"
                                    data-target="#Modal">
                                    <span class="float-right text-dark">
                                        <fa-icon [icon]="Icons[3]"></fa-icon>
                                    </span>
                                </button>
                            </div>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body px-0 pt-0 pb-0">
                            <ListConversations [Conversations]="ConversationsGroup" [isGroup]="true"
                                [Change]="ChangeMain">
                            </ListConversations>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="col-auto ml-2">
        <div class="row pt-3 justify-content-center">
            <button type="button" class="btn btn-primary btn-lg rounded-circle" (click)="TranslateElement()" aria-label="menu">
                <fa-icon [icon]="Icons[7]" *ngIf="this.ShowMenu | async; else other"></fa-icon>
                <ng-template #other>
                    <fa-icon [icon]="Icons[8]"></fa-icon>
                </ng-template>
            </button>
        </div>
    </div>
    <main role="main" class="col ml-sm-auto pt-3 px-4 h-100">
        <div *ngIf="Loading | async; else noLoad">
            <div *ngIf="Main | async; else elseTemplate">
                <ListUsers [Conversations]="Conversations" [Change]="ChangeMain"></ListUsers>
            </div>
            <ng-template #elseTemplate>
                <App-Chat [ChatBind]="Chat" [Change]="ChangeMain"></App-Chat>
            </ng-template>
        </div>
        <ng-template #noLoad>
            <div class="row pt-3 justify-content-center">
                <div class="spinner-border text-primary" role="status" [hidden]="!Loading">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
    </main>
</div>
<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Crear Grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="javascript:;" [formGroup]="FormControl" (ngSubmit)="CreateGroup()"
                [ngClass]="{'was-validated': !FormControl.valid && Submited}">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group pt-3 w-100">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="pass">
                                    <fa-icon [icon]="Icons[4]"></fa-icon>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="DisplayName" placeholder="Nombre"
                                aria-describedby="DisplayName" required minLength="4" maxLength="30"
                                formControlName="DisplayName" />
                            <div class="invalid-feedback">Nombre Invalido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group pt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <fa-icon [icon]="Icons[5]"></fa-icon>
                                </span>
                            </div>
                            <select class="form-control" formControlName="Members" required multiple>
                                <option *ngFor="let conversation of Conversations | async"
                                    [ngValue]="conversation.Members[0]._id"
                                    data-img-src="../../assets/Images/errorImage.svg">
                                    {{conversation.Members[0].DisplayName}}
                                    <label [for]="conversation.Members[0]._id">
                                        <img [src]="conversation.Members[0].UrlImage" class="rounded-circle float-left"
                                            alt="Cinque Terre" width="25" height="25"
                                            onerror="this.src = '../../assets/Images/errorImage.svg'" alt="Imagen" />
                                    </label>
                                </option>
                            </select>
                            <div class="invalid-feedback justify-content-start">
                                Role Es Requerido
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>