<div class="row justify-content-center animated zoomIn w-100 mr-0 ml-0" style="height: 100%">
    <div class="col">
        <div class="row justify-content-center">
            <div class="col-11 col-md-9 col-xl-7 align-self-center pt-2">
                <div class="card text-center shadow">
                    <div class="card-header gradient" style="height: 140px;">
                        <div class="row justify-content-end">
                            <button class="btn text-white" aria-label="Center Align">
                                <fa-icon [icon]="Icons[3]" size="lg"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row w-100 justify-content-center mr-0 ml-0">
                            <div class="card-block card-img-profile">
                                <div class="hovereffect rounded-circle">
                                    <img class="img-fluid" [src]="(User | async).UrlImage" alt="card image" alt="Imagen"
                                        onerror="this.src = '../../assets/Images/errorImage.svg'">
                                    <div class="overlay rounded-circle text-white">
                                        <input type="file" name="imageUpload" id="imageUpload"
                                            style="visibility: hidden;" accept="image/x-png,image/gif,image/jpeg"
                                            (input)="UploadImage($event)" />
                                        <label for="imageUpload" style="cursor: pointer;">
                                            <fa-icon [icon]="Icons[2]" size="lg"></fa-icon>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="card-title">{{(User | async).DisplayName}}</h4>
                        <p class="card-text">{{(User | async).Description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-2 justify-content-center">
            <div class="col-11 align-self-center">
                <div class="row w-100 pb-2 mx-0">
                    <ul class="nav nav-tabs justify-content-center w-100">
                        <li class="nav-item">
                            <div class="nav-link active">
                                Proyectos
                                <fa-icon [icon]="Icons[0]" class="pl-1"></fa-icon>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary nav-link bg-transparent text-dark" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <fa-icon [icon]="Icons[1]"></fa-icon>
                                </button>
                                <div class="dropdown-menu p-1" aria-labelledby="dropdownMenuButton">
                                    <form action="javascript:;" [formGroup]="FormControl" (ngSubmit)="onSubmit()"
                                        [ngClass]="{'was-validated': !FormControl.valid && Submited}">
                                        <div class="form-group">
                                            <label for="title">Titulo</label>
                                            <input type="text" class="form-control" placeholder="Proyecto"
                                                aria-label="Title" aria-describedby="addon-wrapping"
                                                formControlName="Title" required minlength="1" maxlength="20"
                                                id="title">
                                            <div class="invalid-feedback">
                                                Ingrese Titulo Válido
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Description">Descripción</label>
                                            <textarea type="text" class="form-control" placeholder="Descripción"
                                                aria-label="Description" aria-describedby="addon-wrapping"
                                                formControlName="Description" required minlength="10" maxlength="120"
                                                id="Description"></textarea>
                                            <div class="invalid-feedback">
                                                Ingrese Descriptción Válido
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary pt-2">
                                            <div class="spinner-border text-light" role="status"
                                                *ngIf="LoadingProject | async; else elseTemplate">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <ng-template #elseTemplate>
                                                Crear
                                            </ng-template>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row w-100 mx-0">
                    <div class="spinner-border text-light" role="status" [hidden]="!Loading">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="col-11 col-sm-9 col-md-3" *ngFor="let project of Projects | async">
                        <a class="card border-light shadow-sm animated zoomIn"
                            [routerLink]="[ '/teslac/project', project._id ]" routerLinkActive="active">
                            <div class="card-header gradient"></div>
                            <div class="card-body">
                                <div class="row w-100 mx-0">
                                    <div class="col px-0">
                                        <fa-icon [icon]="Icons[0]" class="pr-1"></fa-icon>
                                        {{project.Title}}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>