<div class="row full justify-content-center">
    <div class="col col-sm-8 col-md-7 col-lg-4 align-self-center">
        <div class="card text-center">
            <div class="card-header gradient text-white">
                    <img src="https://image.flaticon.com/icons/svg/1832/1832056.svg" width="80" height="80" class="d-inline-block align-top"
                    alt="">
            </div>
            <div class="card-body">
                <form action="javascript:;">
                    <div class="input-group flex-wrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping">
                                <fa-icon [icon]="IdCardAlt"></fa-icon>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Código Estudiantil" aria-label="Username"
                            aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-wrap pt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping">
                                <fa-icon [icon]="Key"></fa-icon>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Contraseña" aria-label="Password"
                            aria-describedby="addon-wrapping">
                    </div>
                    <div class="form-group pt-3 mb-0">
                        <button type="button" class="btn btn-primary w-50 gradient">
                            <fa-icon [icon]="Login"></fa-icon>
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>