/* You can add global styles to this file, and also import other style files */
body, html
    margin: 0px
    height: 100%
    overflow-x: hidden

*
    font-family: 'Acme', sans-serif

.gradient
    color: #2b5876
    background: #2b5876
    background: -webkit-linear-gradient(legacy-direction(#4e4376), #2b5876)
    background: linear-gradient(#4e4376, #2b5876)

.full
    height: 100%