/* You can add global styles to this file, and also import other style files */
body, html
    margin: 0px
    height: 100%
    overflow-x: hidden

*
    font-family: 'Roboto', sans-serif

.gradient
    color: #2b5876
    background: #2b5876
    background: -webkit-linear-gradient(legacy-direction(#4e4376), #2b5876)
    background: linear-gradient(#4e4376, #2b5876)

.full
    height: 100%

@media (max-height: 600px)
    .chat 
        height: 450px

@media (min-height: 601px)
    .chat 
        height: 550px

@media (min-height: 700px)
    .chat 
        height: 650px

@media (min-height: 800px) 
    .chat 
        height: 785px

@media (min-height: 1024px) 
    .chat 
        height: 880px
